<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<!-- google fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,300italic,300,700%7CPlayfair+Display:400,700italic%7CRoboto:300%7CMontserrat:400,700%7COpen+Sans:400,300%7CLibre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
<!-- Bootstrap -->
<link href="/{{ theme_path('css/bootstrap.min.css') }}" rel="stylesheet">
<link href="/{{ theme_path('css/bootstrap-theme.css') }}" rel="stylesheet">
<link href="/{{ theme_path('css/font-awesome.min.css') }}" rel="stylesheet">
<link href="/{{ theme_path('revolution-slider/css/settings.css') }}" rel="stylesheet">
<link href="/{{ theme_path('css/global.css') }}" rel="stylesheet">
<link href="/{{ theme_path('css/style.css') }}" rel="stylesheet">
<link href="/{{ theme_path('css/responsive.css') }}" rel="stylesheet">
<link href="/{{ theme_path('css/skin.less') }}" rel="stylesheet/less">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->