<!-- banner slider Start Here -->
<section class="rev_slider_wrapper banner-section">
    <div class="rev_slider banner-slider">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="500" class="slide-1" >
                <!-- MAIN IMAGE -->
                <img src="{{ theme_path('img/homepage-sliders/01.png') }}" alt="banner" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div
                        data-endspeed="500"
                        data-easing="easeOutCirc"
                        data-start="500"
                        data-speed="500"
                        data-y="406"
                        data-x="152"
                        class="tp-caption sfb feature-btn ">
                    <span class="btn btn-warning btn-sm">Upcoming Event</span>
                </div>
                <div
                        data-endspeed="800"
                        data-easing="easeOutCirc"
                        data-start="800"
                        data-speed="500"
                        data-y="448"
                        data-x="152"
                        class="tp-caption sfb">
                    <div class="trans-grey"></div>
                </div>
                <div
                        data-endspeed="1500"
                        data-easing="easeOutCirc"
                        data-start="1500"
                        data-speed="1000"
                        data-y="466"
                        data-x="177"
                        class="tp-caption banner-heading bottom-animation text-white sfb">
                    <h2 class="h1">
                        <strong>TechCamp 2017</strong>
                        Multitrack Conference
                    </h2>
                </div>
                <div
                        data-endspeed="1700"
                        data-easing="easeOutCirc"
                        data-start="1700"
                        data-speed="700"
                        data-y="550"
                        data-x="177"
                        class="tp-caption sfb donate-button">
                    <a data-toggle="modal" href="http://www.techcampmemphis.org" target="_blank" class="btn-link">TechCampMemphis.org</a>
                </div>

            </li>
            <!-- SLIDE  -->
            <li data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="500" class="slide-2" >
                <!-- MAIN IMAGE -->
                <img src="{{ theme_path('img/homepage-sliders/02.png') }}" alt="banner" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div
                        data-endspeed="500"
                        data-easing="easeOutCirc"
                        data-start="500"
                        data-speed="500"
                        data-y="406"
                        data-x="152"
                        class="tp-caption sfb feature-btn ">
                    <span class="btn btn-warning btn-sm">Upcoming Event</span>
                </div>
                <div
                        data-endspeed="800"
                        data-easing="easeOutCirc"
                        data-start="800"
                        data-speed="500"
                        data-y="448"
                        data-x="152"
                        class="tp-caption sfb">
                    <div class="trans-grey"></div>
                </div>
                <div
                        data-endspeed="1500"
                        data-easing="easeOutCirc"
                        data-start="1500"
                        data-speed="1000"
                        data-y="466"
                        data-x="177"
                        class="tp-caption banner-heading bottom-animation text-white sfb">
                    <h2 class="h1">
                        <strong>HACKmemphis 2017</strong>
                        Weekend Hackathon Event
                    </h2>
                </div>
                <div
                        data-endspeed="1700"
                        data-easing="easeOutCirc"
                        data-start="1700"
                        data-speed="700"
                        data-y="550"
                        data-x="177"
                        class="tp-caption sfb donate-button">
                    <a data-toggle="modal" href="http://www.HACKmemphis.com" target="_blank" class="btn-link">HACKmemphis.com</a>
                </div>

            </li>
            <!-- SLIDE  -->
            <li data-transition="slotzoom-horizontal" data-slotamount="7" data-masterspeed="500" class="slide-3" >
                <!-- MAIN IMAGE -->
                <img src="{{ theme_path('img/homepage-sliders/03.png') }}" alt="banner" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div
                        data-endspeed="500"
                        data-easing="easeOutCirc"
                        data-start="500"
                        data-speed="500"
                        data-y="406"
                        data-x="152"
                        class="tp-caption sfb feature-btn ">
                    <span class="btn btn-warning btn-sm">Upcoming Event</span>
                </div>
                <div
                        data-endspeed="800"
                        data-easing="easeOutCirc"
                        data-start="800"
                        data-speed="500"
                        data-y="448"
                        data-x="152"
                        class="tp-caption sfb">
                    <div class="trans-grey"></div>
                </div>
                <div
                        data-endspeed="1500"
                        data-easing="easeOutCirc"
                        data-start="1500"
                        data-speed="1000"
                        data-y="466"
                        data-x="177"
                        class="tp-caption banner-heading bottom-animation text-white sfb">
                    <h2 class="h1">
                        <strong>TechCamp 2017</strong>
                        Multitrack Conference
                    </h2>
                </div>
                <div
                        data-endspeed="1700"
                        data-easing="easeOutCirc"
                        data-start="1700"
                        data-speed="700"
                        data-y="550"
                        data-x="177"
                        class="tp-caption sfb donate-button">
                    <a data-toggle="modal" href="http://www.techcampmemphis.org" target="_blank" class="btn-link">TechCampMemphis.org</a>
                </div>

            </li>
            <!-- SLIDE  -->
        </ul>
    </div>
</section>
<!-- banner slider End Here -->
<!-- Our Causes Section Start Here-->
<section class="our-causes">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header section-header clearfix">
                    <h2>Memphis Technology Foundation is a group of people with a diverse interest in technology
                        looking to raise the tech tide in Memphis, TN.</h2>
                    <h3>For more information, view our <a href="/about/faqs">Frequently Asked Questions</a>.</h3>
                </div>

                <div class="article-list flexslider article-slider progressbar">
                    <ul class="slides">
                        {% for post in page.pagination.items %}
                        <li>
                            <div class="items zoom">
                                <h3 class="h6"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
                                <p>
                                    {{ post.blocks.content|length > 150 ? post.blocks.content|striptags|slice(0, 150) ~ '...' : post.blocks.content|striptags  }}
                                    {#{{ post.blocks.content|striptags|wordwrap(15) }}...#}
                                </p>
                                <a href="{{ site.url }}{{ post.url }}" class="btn btn-default">Read More</a>
                                {% if post.meta.tags %}
                                    <p class="tags">
                                        Tags:
                                        {% for tag in post.meta.tags %}
                                            <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Causes Section End Here-->

<!-- How To Help Section Start Here -->
<section class="how-to-help">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 ">
                <header class="page-header section-header">
                    <h2>How can you get involved in the local community?</h2>
                </header>

                <div class="row help-list">
                    <div class="col-xs-12 col-sm-6 col-lg-5">
                        <article class="media">
                            <a class="pull-left warning-icon-box" href="volunteer.html"><i class="icon-user"></i></a>
                            <div class="media-body less-width">
                                <h3 class="media-heading">Attend a meetup.</h3>
                                <p>Join our <a href="http://www.meetup.com/memphis-technology-user-groups/" target="_blank">
                                        meetup group</a> to find an event that interests you.</p>
                            </div>
                        </article>
                        <article class="media">
                            <a class="pull-left warning-icon-box" href="volunteer.html"><i class="icon-heart"></i></a>
                            <div class="media-body less-width">
                                <h3 class="media-heading">Donate to Memphis Technology Foundation</h3>
                                <p>Memphis Technology Foundation is a 501(c)(3) Public Charity Nonprofit.</p>
                            </div>
                        </article>
                        <article class="media">
                            <a class="pull-left warning-icon-box" href="/about/faqs"><i class="icon-volume"></i></a>
                            <div class="media-body less-width">
                                <h3 class="media-heading">Join the Conversation</h3>
                                <p>
                                    Find us on <a href="http://twitter.com/memtech" target="_blank">Twitter</a>,
                                    <a href="https://www.facebook.com/MemphisTechnology" target="_blank">Facebook</a>, or
                                    <a href="https://plus.google.com/u/1/communities/111617696126688058262" target="_blank">Google+</a>.
                                    Drop us an email or join our
                                    <a href="https://groups.google.com/forum/#!forum/memtech" target="_blank">discussion list</a>
                                </p>
                            </div>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6 col-lg-offset-1">
                        <div class="embed-responsive embed-responsive-16by9">
                            <img  src="{{ theme_path('img/get-involved.png') }}" alt="Get Involved" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- How To Help Section End Here-->
